* {
    font-family: 'Rokkitt', serif;
}

body {
    background-image: url("./assets/bg.png"), url("./assets/layer02.png");
    background-repeat: repeat, no-repeat;
    background-position: center;
    background-color: #646C41;
    color: #121400;
    font-size: 12pt;
}

.container {
    width: 80%;
    height: 75vh;
    background-color: #E1DAC4;
    background-clip: padding-box;
    padding: 1%;
    margin: 3% auto;
    border: 15px solid #c8ad55a9;
    transition-property: width;
    transition-duration: 4s;
}

button, input {
    background-color: #333523;
    color: #DFD7CD;
    font-size: 14pt;
    border: 3px solid #DFD7CD;
    padding: 5px 10px;
    margin: 10px;
}

button {
    cursor: pointer;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #333523;
    color: #DFD7CD;
    font-size: 14pt;
    border: 3px solid #DFD7CD;
    padding: 5px 10px;
    margin: 10px;
  }

li {
    list-style: none;
}

a {
    color: #C1D0D5;
    cursor: pointer;
}

a:hover {
    color: #51636C;
}