.nav {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
 
.profile-dropdown {
  position:absolute;
  margin-top: 70px;
}

.hidden {
  display: none;
}

.logo {
  width: 150px;
}

.profile {
  display: flex;
  justify-content: flex-end;
}